/* Taylor Eisman */
/* VFW 03/12 */
/* Project 2 */

header {
  background-color: navy;
}

h1 {
	color: silver;
	font-weight: bold;
	padding-left: 75px;
}

h2{
	color: silver;
	font-size: medium;
	font-weight: bold;
}

body {
	background-color: gray;
}

p {
	color: silver;
	font-size: small;
	background-color: navy;
}

form {
	color: silver;
	font-size: medium;
	font-weight: bold;
	text-align: left;
	padding: 5px;
	background-color: navy;
}

legend {
	color: silver;
	font-size: large;
}

